html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;  
    overflow-x: hidden;  
    margin: 0;           
    padding: 0;          
}


nav{
    display: flex;
    color: white; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%; 
    padding: 25px;

    font-family: "Bellefair";
    letter-spacing: 3px; 
    text-transform:uppercase; 
    align-items: center;  
    position: relative;

}


#textexplore{
    height: 200px; 
    width: 200px; 
    background-color: white; 
    color: black; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size :32px;
    font-weight: 400px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    font-family: "Bellefair";
    letter-spacing: 1.25px;
    line-height : 37px;

}


#englobeTextExplore{
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}


#EnglobeOnglet {
    padding: 15px;
    backdrop-filter: blur(81.5485px);
    height: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.04);
}

.ONGLET {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
    position: relative; 
    gap: 25px;
    font-family: "Bellefair", sans-serif;
     
}

.ONGLET::after {
    content: ""; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0%; 
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.ONGLET:hover::after {
    width: 100%; 
}



#texteDebut{
    letter-spacing: 4px;
    text-transform: uppercase; 
    color: #ffffff; 
    font-family:"Bellefair";
}




#BarreHorizontal{
    color: grey; 
    width: 30%; 
    align-items: center;
    opacity: 0.25;
    text-align: center;
    align-content: center;
    z-index: 2;
    border-top: 2px solid grey;
    position: absolute;
    left: 100px;

    margin-left: 64px;
    margin-right: -25px;
}

#iconeIMG{
    height: 40px;
}

#TitreSPACE{
    color: white;
    font-family:"Bellefair";
    font-size: 80px;
    letter-spacing: 8px;
    margin: 0;
    text-transform: uppercase;
}




#TextesousSPACE{
    margin-top: 30px;
    font-family: "Barlow_Condensed";
    line-height: 1.5;
    color: grey;

}




#EnglobeTEXTEGAUCHE {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    height: 100%; 
    gap: 15px; 
    left: 10%;
    flex: 1;
    width: 50%; 
    position: relative;
}




#SECTIONPRINCIPALE{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    color: grey;
    font-family: Arial, sans-serif;
    height: 80vh; 

}











































/* PARTIE DESTINATION  */
#ChoixDestination{
    width:100%;
    

}

#TitreNombrePage{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Barlow Condensed", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    opacity: .25;
    font-size: 28px;
    letter-spacing: 2.7px;
}


#TitrePage{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Barlow Condensed", sans-serif;
    color: #d0d6f9;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2.7px;

    
}

#TitreChoixDestination{
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
    color: #d0d6f9;
    font-size: 28px;
    letter-spacing: 4.75px;
    text-transform: uppercase;


    box-sizing: inherit;
    display: flex;
    flex-direction: row;
    gap: 28px;
}



#EnglobeLigneDestination {
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20%;

    padding: 0;
    box-sizing: inherit;
    margin: 64px 0 118px 0;

    
}


#ChoixPlanete {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 20px; 
}


#ChoixPlanete ul {
    display: flex;
    gap: 15px; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

#ChoixPlanete ul li {
    margin: 0;
    padding: 0;
}

#ChoixPlanete ul li a {
    text-decoration: none; 
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 5px 10px; 
    cursor: pointer;
    border: 1px solid transparent; 
    transition: border-color 0.3s ease; 
    margin: 0;
    box-sizing: inherit;
    font-size: 16px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding-bottom: 12px;


}

#ChoixPlanete ul li a:hover {
    border-bottom: 2px solid white;
}




.NOMPLANETE{
    font-family: "Bellefair";
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}


#IMGPLANETE {
    max-width: 40%;
    height: auto;   
    margin-left: 65px;
}




.NOMDELAPLANETE{
    box-sizing: inherit;
    font-family: "Bellefair", sans-serif;
    color: #ffffff;
    font-size: 100px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-top: 37px;
    letter-spacing: 4px;
}
















#TextesousMARS {
    color: white;
    font-family: 'Bellefair';
    margin-top: 20px;
    line-height: 1.5;
    display: none; 
}

#TextesousMARS.active {
    display: block;
}

#TextesousMARS h2,
#TextesousMARS h3,
#TextesousMARS h1 {
    margin: 0; 
    padding: 5px 0; 
}


.EnglobeDistanceetDuree{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    text-align: center;
}

.TitreAVGDistance{
    font-family: "Barlow Condensed", sans-serif;
    color: #d0d6f9;
    font-size: 14px;
    letter-spacing: 2.35px;
    text-transform: uppercase;
}


#TitreTravelTime{
    font-family: "Barlow Condensed", sans-serif;
    color: #d0d6f9;
    font-size: 14px;
    letter-spacing: 2.35px;
    text-transform: uppercase;
}



.NombreDistanceKM{
    font-family: "Bellefair", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
}



.AnneeVoyageTemps{
    font-family: "Bellefair", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
}



.planetetexte{
    padding-top: 14px;
    font-family: "Barlow Condensed", sans-serif;
    color: #d0d6f9;
    font-size: 18px;
    line-height: 32px;
    max-width: 444px;
}

.NomRoleEquipage{
    box-sizing: inherit;
    font-family: "Bellefair", sans-serif;
    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    opacity: .5;
}

.NomMembreEquipage{
    box-sizing: inherit;
    font-family: "Bellefair", sans-serif;
    font-size: 56px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    margin: 15px 0 27px 0;
}



#ChoixEquipage {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    width: 100%; 
    gap: 10%;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    align-items: flex-end;

    padding-top: 154px;
}

#ChoixEquipage ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

#ChoixEquipage #texteEquipage {
    flex-grow: 1; 
}


#texteEquipage{
    padding-top: 154px;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#ChoixEquipage img {
    max-width: 300px; 
    height: auto; 
    align-self: flex-start; 
}


#EnglobeLigneEquipage{
    display: flex;
    width: 100%;
    gap: 20%;
    padding: 0;
    box-sizing: inherit;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}




.crew__role-btn {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    border: none;
    transition: all .5s;
    cursor: pointer;
    background-color: #ffffff !important;
    opacity: 1;
    margin: 90px 0 61px 0;
    display: flex;
    gap: 15px;
}

.crew__role-btn:hover {
    background-color: #ccc; 
    transform: scale(1.05); 
}

.crew__role-btn.selected {
    background-color: #555; 
    color: white; 
}

.container{
    margin: 0;
    box-sizing: inherit;
    padding: 0  70px;

    
}

#PointBlanc{
    display: flex;
    flex-direction : row;
    gap: 15px;
    margin: 0;
    width:100%;
    justify-content: flex-start;
    padding: 0;
    box-sizing: inherit;
    margin: 90px 0 61px 0;
    display: flex;
    gap: 15px;


}


#IMGMembreEquipage{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    display: flex;
    justify-content: flex-end;
    height: 100%;

    
}
































/* TECHNOLOGY */

#ChoixTechnology{
    margin: 0;
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 101px 165px;
}










#texteTechnology {
    order: 2; /* Le texte apparaît après les boutons */
    flex: 1; /* Remplit le reste de l'espace disponible */
}



#NumeroPointBlanc{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    gap: 32px;
    display: flex;
    flex-direction: column;
    order: 1; /* Ordres des boutons apparaissent avant */
    color: white;
    list-style-type: none;



}


.btnNumerote{
    display: flex;
    flex-direction: column;
    font-family: "Bellefair", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    opacity: 1;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255,255,255,0.25);
    box-sizing: border-box;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transition: border .3s;
    cursor: pointer; 
    background-color: #0b0d17;
    color: white;
}




.btnNumerote:hover{    
    border: 1px solid white;
}


.btnNumerote:focus,
.btnNumeroteInput:checked + .btnNumerote {
    background-color: #ffffff;
    color: #0b0d17;
    border: 1px solid rgba(255, 255, 255, 0.5);
}



.btnNumerote.active {
    background-color: #ffffff; /* Fond blanc */
    color: #0b0d17;           /* Texte noir */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Bordure */
}




#EnglobeLigneTech{
    display: flex;
    width: 100%;
    box-sizing: inherit;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;


    align-items: center;

    padding: 0;
}

.NomTechAffiche{
    box-sizing: inherit;
    font-family: "Bellefair", sans-serif;
    font-size: 56px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    margin: 11px 0 17px 0;
}


#ChoixTech {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%; 
    gap: 80px;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    align-items: center;



}



.NomTech{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #d0d6f9;
}



.TexteTech{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Barlow Condensed", sans-serif;
    color: #d0d6f9;
    font-size: 18px;
    line-height: 32px;
    max-width: 444px;
}


























    /* BTN BURGER Style de base */
    #menuButton {
        background: none;
        border: none;
        cursor: pointer;
        visibility: visible;
        align-items: center;
        justify-content: center;
        color: white;
    }


    #hamburgerIcon {
        display: block; /* Assurez-vous que l'icône est visible */
        color: white;
        width: auto; /* Ajustez la taille de l'icône selon vos besoins */
        height: auto; 
        visibility: collapse;
    }







































/* MEDIA QUERIES */

/* ENTRE TABLETTE 768px et ORDI 1023*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #CORPS {
      background-image: url('assets/home/background-home-tablet.jpg') !important;
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: center; 
      overflow-y: scroll;
    }

    /*ICONE*/
    #iconeIMG{
        height: 48px;
        width: 48px;
    }

    #SECTIONPRINCIPALE {
        display: flex;
        width: 100%;

        margin: 0;
        box-sizing: inherit;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 48px 24px 24px 24px;
    }

    #texteDebut{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #EnglobeTEXTEGAUCHE {
        all: unset; /*SUPPRIME les styles hérité des parents*/
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    #EnglobeTEXTEGAUCHE p {
        gap: 15px;
        letter-spacing: 4px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        text-align: center;
        margin: 0;
        box-sizing: inherit;
        font-family: "Barlow Condensed", sans-serif;
        color: #d0d6f9;
        font-size: 18px;
        line-height: 32px;
        padding: 24px 0 0 0;
        
    }

   


    #TitreSPACE{
        text-align: center;
        font-family: "Bellefair", sans-serif;
        color: #ffffff;
        font-size: 150px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        line-height: 172px;
        padding-top: 16px;
        width: 100%;
    }



    
    #TextesousSPACE{
        text-align: center;
        font-family: "Barlow Condensed", sans-serif;
        color: #d0d6f9;
        font-size: 18px;
        line-height: 32px;
        word-wrap: break-word;
        margin: 0;
        box-sizing: inherit;
        max-width: 100%;
        padding: 24px 0 156px 0;

        
    }








    nav{
        color: white; 
        flex-direction: row; 
        width: 100%; 
    
        font-family: "Bellefair";
        letter-spacing: 3px; 
        text-transform:uppercase; 

        gap:50px;
        margin: 0;
        box-sizing: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 0 40px 39px;
    }


    .ONGLET {
        color: #ffffff;
        font-size: 16px;
        margin: 0;
        white-space: nowrap;
        text-decoration: none;
        position: relative; 
        font-family: "Bellefair", sans-serif;
        justify-content: center;
        text-align: center;

        padding: 0;
        box-sizing: inherit;
        display: flex;
        
           
    }

    


    #EnglobeOnglet {
        z-index: 0;
        display: flex;
        align-items: center;
        background: rgba(255,255,255,0.04);
        backdrop-filter: blur(81.5485px);


        box-sizing: inherit;
        gap: 50px;
        padding: 0 47px 0 0;
    }


    /*NUMERO CACHER ET PERDENT LEURS ESPACE*/
    #EnglobeOnglet > a > b{
        display: none;
    }

    #BarreHorizontal{
        display: none;
    }
    
    /* ROND BLANC ACCUEIL*/
    #englobeTextExplore{
        margin: 0;
        padding: 0;
        box-sizing: inherit;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
       
        font-family: "Bellefair", sans-serif;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
        padding-bottom: 15px;
       
    }
    
    
}
  


































  /* POUR MOBILE SOUS 768px */
@media screen and (max-width: 768px)  {
    #CORPS {
      background-image: url('assets/home/background-home-mobile.jpg') !important;
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: center; 
    }





     /*ICONE*/
     #iconeIMG{
        height: 48px;
        width: 48px;
    }

    #SECTIONPRINCIPALE {
        display: flex;
        width: 100%;

        margin: 0;
        box-sizing: inherit;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 48px 24px 24px 24px;
    }

    #texteDebut{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #EnglobeTEXTEGAUCHE {
        all: unset; /*SUPPRIME les styles hérité des parents*/
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    #EnglobeTEXTEGAUCHE p {
        gap: 15px;
        letter-spacing: 4px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        text-align: center;
        margin: 0;
        box-sizing: inherit;
        font-family: "Barlow Condensed", sans-serif;
        color: #d0d6f9;
        font-size: 18px;
        line-height: 32px;
        padding: 24px 0 0 0;
        
    }

   


    #TitreSPACE{
        width: 100%;
        text-align: center;
        box-sizing: inherit;
        font-family: "Bellefair", sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-size: 80px;
        line-height: 100px;
        padding-top: 16px;
    }



    
    #TextesousSPACE{
        box-sizing: inherit;
        font-family: "Barlow Condensed", sans-serif;
        color: #d0d6f9;
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        padding: 16px 0 81px 0;  
    }




















nav{
    padding-top: 25px;
}




    /*ENSEMBLE DES ONGLETS*/
    #EnglobeOnglet {     
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        margin: 0;
        position: fixed;
        z-index: 1;
        top: 0;  
        right: 0;
        background: rgba(255,255,255,0.04);
        opacity: 0.1;
        backdrop-filter: blur(81.5485px);
        transition: all .8s;
        display: block;
        padding-top: 80px;
        height: 100%;
        width: 45%;
        visibility: hidden;
}



    /* Onglets visibles */
    #EnglobeOnglet.visible {
        opacity: 1;
        visibility: visible;
        height: 100%;
        width: 45%;
        z-index: 1000;
        right:0; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
    }

     /* Liens des onglets et Style des onglets dans le menu */
     .ONGLET {
        margin: 20px;  
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    /* BTN hamburger PAR DEF */
    #hamburgerIcon {
        color: white;
        visibility: visible;
        display: inline-block;
    }

    /*Par défaut NON VISIBLE le X*/
    #closeIcon {
        color: grey;
        display: none; /*CACHER PAR DEF*/
    }

    /* Bouton est visible */
    #menuButton {
        position: fixed;
        right: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        z-index: 3000;
    }







      

    #BarreHorizontal{
        display: none;
    }



    


}

